#navbar{
    cursor: pointer;
    
}

footer {
    text-align: left;
    padding: 3px;
    background-color: slategray;
    color: black;
  }

#cpr
{
    text-align: right;
    padding: 3px;
    color: black;
}